lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

node_modules
bower_components
pids
logs
results
dist
local-tests
junit
npm-debug.log
test/acceptance-tests/target

.idea/libraries
.idea/copyright
.idea/workspace.xml

.project
.classpath
.settings

*.swp

reports/
build
.grunt
fakeS3
vast/.DS_Store
.DS_Store
.sass-cache